BloomTech Data Science

*Unit 2, Sprint 1, Module 2*

---

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'

# If you're working locally:
else:
    DATA_PATH = '../data/'

# Module Project: Regression II

In this project, you'll continue working with the New York City rent dataset you used in the last module project.

## Directions

The tasks for this project are as follows:

- **Task 1:** Import `csv` file using `wrangle` function.
- **Task 2:** Conduct exploratory data analysis (EDA), and modify `wrangle` function to engineer two new features.
- **Task 3:** Split data into feature matrix `X` and target vector `y`.
- **Task 4:** Split feature matrix `X` and target vector `y` into training and test sets.
- **Task 5:** Establish the baseline mean absolute error for your dataset.
- **Task 6:** Build and train a `Linearregression` model.
- **Task 7:** Calculate the training and test mean absolute error for your model.
- **Task 8:** Calculate the training and test $R^2$ score for your model.
- **Stretch Goal:** Determine the three most important features for your linear regression model.

**Note**

You should limit yourself to the following libraries for this project:

- `matplotlib`
- `numpy`
- `pandas`
- `sklearn`

# I. Wrangle Data

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt


def wrangle(filepath):
    df = pd.read_csv(filepath, index_col='created',parse_dates=['created'])
    
    # Remove the most extreme 1% prices,
    # the most extreme .1% latitudes, &
    # the most extreme .1% longitudes
    df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
            (df['price'] <= np.percentile(df['price'], 99.5)) & 
            (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
            (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
            (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
            (df['longitude'] <= np.percentile(df['longitude'], 99.95))]
    
    df.dropna(inplace=True)
    df.drop(columns=['description','display_address','interest_level','street_address'],inplace=True)
  
    return df

filepath = DATA_PATH + 'apartments/renthop-nyc.csv'
df = wrangle(filepath)

In [ ]:
df.head()

                     bathrooms  ...  common_outdoor_space
created                         ...
2016-06-24 07:54:24        1.5  ...                     0
2016-06-12 12:19:27        1.0  ...                     0
2016-04-17 03:26:41        1.0  ...                     0
2016-04-18 02:22:02        1.0  ...                     0
2016-04-28 01:32:41        1.0  ...                     0

[5 rows x 29 columns]

**Task 1:** Add the following functionality to the above `wrangle` function.

- The `'created'` column will parsed as a `DateTime` object and set as the `index` of the DataFrame. 
- Rows with `NaN` values will be dropped.

Then use your modified function to import the `renthop-nyc.csv` file into a DataFrame named `df`.

**Task 2:** Using your `pandas` and dataviz skills decide on two features that you want to engineer for your dataset. Next, modify your `wrangle` function to add those features. 

**Note:** You can learn more about feature engineering [here](https://en.wikipedia.org/wiki/Feature_engineering). Here are some ideas for new features:

- Does the apartment have a description?
- Length of description.
- Total number of perks that apartment has.
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths).

In [ ]:
# Conduct your exploratory data analysis here, 
# and then modify the function above.
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 47260 entries, 2016-06-24 07:54:24 to 2016-04-12 02:48:07
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             47260 non-null  float64
 1   bedrooms              47260 non-null  int64
 2   latitude              47260 non-null  float64
 3   longitude             47260 non-null  float64
 4   price                 47260 non-null  int64
 5   elevator              47260 non-null  int64
 6   cats_allowed          47260 non-null  int64
 7   hardwood_floors       47260 non-null  int64
 8   dogs_allowed          47260 non-null  int64
 9   doorman               47260 non-null  int64
 10  dishwasher            47260 non-null  int64
 11  no_fee                47260 non-null  int64
 12  laundry_in_building   47260 non-null  int64
 13  fitness_center        47260 non-null  int64
 14  pre-war               47260 non-null  int64
 15  laundry_in_unit       47260 non-null  int64
 16  roof_deck             47260 non-null  int64
 17  outdoor_space         47260 non-null  int64
 18  dining_room           47260 non-null  int64
 19  high_speed_internet   47260 non-null  int64
 20  balcony               47260 non-null  int64
 21  swimming_pool         47260 non-null  int64
 22  new_construction      47260 non-null  int64
 23  terrace               47260 non-null  int64
 24  exclusive             47260 non-null  int64
 25  loft                  47260 non-null  int64
 26  garden_patio          47260 non-null  int64
 27  wheelchair_access     47260 non-null  int64
 28  common_outdoor_space  47260 non-null  int64
dtypes: float64(3), int64(26)
memory usage: 10.8 MB

# II. Split Data

**Task 3:** Split your DataFrame `df` into a feature matrix `X` and the target vector `y`. You want to predict `'price'`.

**Note:** In contrast to the last module project, this time you should include _all_ the numerical features in your dataset.

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop(columns='price')
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

**Task 4:** Split `X` and `y` into a training set (`X_train`, `y_train`) and a test set (`X_test`, `y_test`).

- Your training set should include data from April and May 2016. 
- Your test set should include data from June 2016.

In [ ]:
X1 = X.loc['2016-04-01' :'2016-05-31']
X2 = X.loc['2016-06-01' :'2016-06-30']

X_train = X.loc[X1.index]
y_train = y.loc[X1.index]

X_test = X.loc[X2.index]
y_test= y.loc[X2.index]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.

# III. Establish Baseline

**Task 5:** Since this is a **regression** problem, you need to calculate the baseline mean absolute error for your model. First, calculate the mean of `y_train`. Next, create a list `y_pred` that has the same length as `y_train` and where every item in the list is the mean. Finally, use `mean_absolute_error` to calculate your baseline.

In [ ]:
from sklearn.metrics import mean_absolute_error,r2_score
y_pred = [y_train.mean()] * len(y_train)

baseline_mae = mean_absolute_error(y_pred,y_train)
print('Baseline MAE:', baseline_mae)

Baseline MAE: 1201.7499219922447

# IV. Build Model

**Task 6:** Build and train a `LinearRegression` model named `model` using your feature matrix `X_train` and your target vector `y_train`.

In [ ]:
# Step 1: Import predictor class
from sklearn.linear_model import LinearRegression

# Step 2: Instantiate predictor
model = LinearRegression()

# Step 3: Fit predictor on the (training) data
model.fit(X_train,y_train)

LinearRegression()

# V. Check Metrics

**Task 7:** Calculate the training and test mean absolute error for your model.

In [ ]:

training_mae = mean_absolute_error(y_train,model.predict(X_train))
test_mae = mean_absolute_error(y_test,model.predict(X_test))

print('Training MAE:', training_mae)
print('Test MAE:', test_mae)

Training MAE: 692.9344273335511
Test MAE: 702.2777145237085

**Task 8:** Calculate the training and test $R^2$ score for your model.

In [ ]:
training_r2 = r2_score(y_train,model.predict(X_train))
test_r2 = r2_score(y_test,model.predict(X_test))

print('Training MAE:', training_r2)
print('Test MAE:', test_r2)
print(model.coef_)

Training MAE: 0.6159135526009356
Test MAE: 0.6256292346790475
[  1760.20630895    476.66972659   1566.01101925 -13476.32161656
    133.65952269    -35.93915221   -206.65925574     86.57669526
    480.53801844     56.41204297   -164.90422608   -258.52000293
    145.93483228    -67.75279146    500.85949888   -163.3700596
   -115.01766891    247.33938121   -339.26212703    -49.84422886
     64.45461867   -135.13857546    175.17399785    154.40478257
    109.4957315     -40.39196444    172.37328051    -78.12220697]

# VI. Communicate Results

**Stretch Goal:** What are the three most influential coefficients in your linear model? You should consider the _absolute value_ of each coefficient, so that it doesn't matter if it's positive or negative.

The most influencial coefficients are the number of bathrooms and the latitude/longitude